table.vehicles {
    width: 20%;
    padding: 5px;
    background-color:white;
}

table.vehicles tr:hover td { background-color: black; }
table.vehicles tr.super_unicum { background-color: #8225ad; }
table.vehicles tr.unicum { background-color: #c64cff; }
table.vehicles tr.great { background-color: #00a0b8; }
table.vehicles tr.very_good { background-color: #2ae4ff; }
table.vehicles tr.good { background-color: #459300; }
table.vehicles tr.above_average { background-color: #77e812; }
table.vehicles tr.average { background-color: #e6df27; }
table.vehicles tr.below_average { background-color: #ff8a00; }
table.vehicles tr.bad { background-color: #f11919; }
table.vehicles tr.very_bad { background-color: #000000; }

table.clan_skirmishes {
    width: 60%;
    padding: 5px;
    text-align: center;
}
table.clan_skirmishes tr.hoverable:hover { background-color: #d1d0ce; }
table.clan_skirmishes tr td.clan_tag { font-weight: bold; }
table.clan_skirmishes thead tr .header { cursor: pointer; }


a {color: black; font-weight: bold}
a:link    { background-color:transparent; text-decoration:none }
a:visited { background-color:transparent; text-decoration:none }
a:hover   { color: red; background-color:transparent; text-decoration:none }
a:active  { background-color:transparent; text-decoration:none }

.super_unicum { font-weight: bold; color: #8225ad; }
.unicum { font-weight: bold; color: #c64cff; }
.great { font-weight: bold; color: #00a0b8; }
.very_good { font-weight: bold; color: #2ae4ff; }
.good { font-weight: bold; color: #459300; }
.above_average { font-weight: bold; color: #77e812; }
.average { font-weight: bold; color: #e6df27; }
.below_average { font-weight: bold; color: #ff8a00; }
.bad { font-weight: bold; color: #f11919; }
.very_bad { font-weight: bold; color: #000000; }

.bg_super_unicum { background-color: #8225ad; color: white;}
.bg_unicum { background-color: #c64cff; color: white;}
.bg_great { background-color: #00a0b8; color: white;}
.bg_very_good { background-color: #2ae4ff; color: white;}
.bg_good { background-color: #459300; color: white;}
.bg_above_average { background-color: #77e812; color: white;}
.bg_average { background-color: #e6df27; color: white;}
.bg_below_average { background-color: #ff8a00; color: white;}
.bg_bad { background-color: #f11919; color: white;}
.bg_very_bad { background-color: #000000; color: white;}

.bg_super_unicum:hover { background-color: white; color: black; cursor: pointer}
.bg_unicum:hover { background-color: white; color: black; cursor: pointer}
.bg_great:hover { background-color: white; color: black; cursor: pointer}
.bg_very_good:hover { background-color: white; color: black; cursor: pointer}
.bg_good:hover { background-color: white; color: black; cursor: pointer}
.bg_above_average:hover { background-color: white; color: black; cursor: pointer}
.bg_average:hover { background-color: white; color: black; cursor: pointer}
.bg_below_average:hover { background-color: white; color: black; cursor: pointer}
.bg_bad:hover { background-color: white; color: black; cursor: pointer}
.bg_very_bad:hover { background-color: white; color: black; cursor: pointer}


.positive { color: green }
.negative { color: red }

tr .headerSortDown { color: green; }
tr .headerSortUp { color: teal; }

/* The body, gives an example how the background should look like */
body {
    font: 15px verdana, sans-serif; color: black;
    background: silver;
    width: 100%;
    min-height: 100%;
    position: absolute;
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-transform: uppercase;
}

ul.topnav li { float: left; }
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

ul.topnav li a:hover {background-color: #555;}
ul.topnav li.icon {display: none;}

table.user_tanks th {
    padding: 5px;
}

table.user_tanks td {
    border-bottom: 1px solid black;
    padding: 5px;
}

table.user_tanks tr:hover {
    background: #d1d0ce
}

table.members td {
    border-bottom: 1px solid black;
    padding: 5px;
}

table.members tr:hover {
    background: #d1d0ce
}

table.members th {
    padding: 5px;
}

div.section {
    text-align: center;
    width:100%;
    background-color: grey;
    font-weight: bold;
    padding: 5px
}