@import com.domain.wn8.ClanWn8
@import org.joda.time.LocalDate
@import org.joda.time.LocalTime
@import java.util.Date; var prevDate: org.joda.time.LocalDate = null; var currentDate: org.joda.time.LocalDate = null; var currentTime: String = null
@(clan: com.domain.presentation.model.ClanDetails)(implicit request: RequestHeader)

@main(clan.tag, request.session.get("user")) {
<table align="center">
    <tr>
        <td align="right">Clan:</td><td>@clan.name</td>
    </tr>
    <tr>
        <td align="right">Members:</td><td>@clan.members.size</td>
    </tr>
    <tr>
        <td align="right" >Average WN8:</td><td class="@com.domain.presentation.model.ColorHelper.wn8Color(clan.averageWn8)">@clan.averageWn8</td>
    </tr>
    <tr>
        <td align="center" colspan="2"><a href="@routes.ClanDetailsController.refresh(clan.clanId.toString)">Refresh WN8</a></td>
    </tr>
</table>

<div class="section">Members</div>
<table class="members" cellpadding="0" cellspacing="0" align="center">
    <thead>
        <th align="left">Name</th>
        <th align="left">Role</th>
        <th>Battles</th>
        <th>Wn8</th>
    </thead>
    @for(member <- clan.members) {
    <tr>
        <td><a href="@routes.TankerDetailsController.details(member.name)">@member.name</a></td>
        <td>@member.role</td>
        <td align="right">@member.battles</td>
        <td align="center" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(member.wn8)">@{"%.2f".format(member.wn8)}</td>
    </tr>
    }
</table>

}
