@import org.joda.time.LocalDate
@import org.joda.time.LocalTime
@import java.util.Date
@(battles: Seq[com.domain.presentation.model.StrongholdBattle])(implicit request: RequestHeader)

@main("Strongholds", request.session.get("user")) {

<table align="center" cellpadding="1" cellspacing="1">
    <tr><td>Date&nbsp;</td><td>Attacker&nbsp;</td><td></td><td align="right">Defender&nbsp;</td></tr>
    @for(battle <- battles) {
    <tr>
        <td>@LocalDate.fromDateFields(new Date(battle.date * 1000)) @LocalTime.fromDateFields(new Date(battle.date * 1000)).toString("HH:mm")&nbsp;</td>
        <td><a href="@routes.ClanDetailsController.details(battle.attackerClanId)">@battle.attackerClanTag</a>&nbsp;</td>
        <td>vs</td>
        <td align="right"><a href="@routes.ClanDetailsController.details(battle.defenderClanId)">@battle.defenderClanTag</a>&nbsp;</td>
    </tr>
    }
</table>

}