@(tanker: Option[com.domain.presentation.model.TankerDetails])(implicit request: RequestHeader)

@main("WoT Stats", request.session.get("user")) {
@if(tanker.isDefined) {

<table align="center">
    <tr><td align="right">Name:</td><td>@tanker.get.name</td></tr>
    <tr><td align="right">Tier:</td><td>@{"%.2f".format(tanker.get.avgTier)}</td></tr>
    <tr><td align="right">Last battle:</td><td>@{tanker.get.lastBattle}</td></tr>
    <tr><td align="center" colspan="2"><a href="@routes.TankerDetailsController.refresh(tanker.get.accountId.toString)">Refresh</a></td></tr>
</table>



<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
      data.addColumn('number', 'WN8');
      data.addRows([
@tanker.get.history.mkString(",")
]);

var options = {
        backgroundColor: {
            fill: 'silver'
        },
        hAxis: {
          format: 'dd.MMM',
          maxTextLines: '1',
          textPosition: 'out'
        },
        vAxis: {
          textPosition: 'in'
        },
        legend: 'none',
        chartArea: {width: '99%', height: '90%', top: 0},
        lineWidth: '2',
        pointSize: '10',
        dataOpacity: 0.3
      };

var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
chart.draw(data, options);
}
</script>
<script>
$(function() {
    $("#tanks1").tablesorter( {sortList: [[2,0],[9,0]]} );
    $("#tanks2").tablesorter( {sortList: [[2,0],[9,0]]} );
    $("#tanks3").tablesorter( {sortList: [[2,0],[9,0]]} );
    $("#tanks4").tablesorter( {sortList: [[2,0],[9,0]]} );
});
function hideUnhide(tableId) {
  var x = document.getElementById(tableId);
  if (x.style.display === "none") {
    x.style.display = "";
  } else {
    x.style.display = "none";
  }
}
</script>
<br/><br/>

<table align="center" style="min-width: 940px;" class="user_session_summary">
    <tr>
        <td></td><td>General</td><td>Last day</td><td>Last week</td><td>Last month</td>
    </tr>
    <tr><td>Battles</td>
        <td>@tanker.get.battles</td>
        <td>@tanker.get.lastDaySession.battles</td>
        <td>@tanker.get.lastWeekSession.battles</td>
        <td>@tanker.get.lastMonthSession.battles</td>
    </tr>
    <tr>
        <td>% Wins</td>
        <td>@{"%.2f".format(tanker.get.winratio)}%</td>
        <td>@{"%.0f".format(tanker.get.lastDaySession.avgWins)}%</td>
        <td>@{"%.0f".format(tanker.get.lastWeekSession.avgWins)}%</td>
        <td>@{"%.0f".format(tanker.get.lastMonthSession.avgWins)}%</td>
    </tr>
    <tr>
        <td>Ø Frags</td>
        <td>@{"%.2f".format(tanker.get.avgFrags)}</td>
        <td>@{"%.2f".format(tanker.get.lastDaySession.avgFrags)}</td>
        <td>@{"%.2f".format(tanker.get.lastWeekSession.avgFrags)}</td>
        <td>@{"%.2f".format(tanker.get.lastMonthSession.avgFrags)}</td>
    </tr>
    <tr>
        <td>Ø Spots</td>
        <td>@{"%.2f".format(tanker.get.avgSpots)}</td>
        <td>@{"%.2f".format(tanker.get.lastDaySession.avgSpots)}</td>
        <td>@{"%.2f".format(tanker.get.lastWeekSession.avgSpots)}</td>
        <td>@{"%.2f".format(tanker.get.lastMonthSession.avgSpots)}</td>
    </tr>
    <tr>
        <td>Ø Damage</td>
        <td>@{"%.2f".format(tanker.get.avgDamage)}</td>
        <td>@{"%.2f".format(tanker.get.lastDaySession.avgDamage)}</td>
        <td>@{"%.2f".format(tanker.get.lastWeekSession.avgDamage)}</td>
        <td>@{"%.2f".format(tanker.get.lastMonthSession.avgDamage)}</td>
    </tr>
    <tr style="font-weight: bold">
        <td>WN8</td>
        <td class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tanker.get.wn8)">@{"%.2f".format(tanker.get.wn8)}</td>
        <td class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tanker.get.lastDaySession.wn8)">@{"%.2f".format(tanker.get.lastDaySession.wn8)}</td>
        <td class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tanker.get.lastWeekSession.wn8)">@{"%.2f".format(tanker.get.lastWeekSession.wn8)}</td>
        <td class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tanker.get.lastMonthSession.wn8)">@{"%.2f".format(tanker.get.lastMonthSession.wn8)}</td>
    </tr>
</table>

<table align="center" class="user_session_chart" cellpadding="0" cellspacing="0">
    <tr>
        <td><div id="curve_chart" style="width: 100%; height: 200px; border: 1px solid black;"></div></td>
    </tr>
</table>

@if(tanker.get.lastDaySession.battles > 0) {
<table cellpadding="0" cellspacing="0" align="center" class="user_session_tanks">
    <thead>
        <th onclick="hideUnhide('tanks1')" style="line-height: 25px" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tanker.get.lastDaySession.wn8)">
            <b>Session tanks - day | WN8: @{"%.0f".format(tanker.get.lastDaySession.wn8)}</b>
        </th>
    </thead>
    <tr><td>
        <table cellpadding="0" cellspacing="0" align="center" id="tanks1" class="user_tanks" style="display: none">
            <thead>
            <th></th>
            <th align="left" style="width: 200px">Tank&nbsp;</th>
            <th>Tier</th>
            <th>Ø Frags</th>
            <th>Ø Spot</th>
            <th>Ø Dmg</th>
            <th>Ø Exp</th>
            <th>% Wins</th>
            <th>Battles</th>
            <th>Wn8</th>
            </thead>
            @for(tank <- tanker.get.lastDaySession.tanks) {
            <tr>
                <td align="center"><img src="@tank.imgPath"/></td>
                <td align="left">@tank.name&nbsp;</td>
                <td align="center">@tank.tier</td>
                <td align="center">@{"%.2f".format(tank.avgFrags)}</td>
                <td align="center">@{"%.2f".format(tank.avgSpot)}</td>
                <td align="right" title="Expected: @tank.expDmg">@{"%.0f".format(tank.avgDmg)}</td>
                <td align="right">@{"%.0f".format(tank.avgXp)}</td>
                <td align="center">@{"%.0f".format(tank.avgWins)}%</td>
                <td align="center">@tank.battles</td>
                <td align="middle" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tank.wn8)">@{"%.0f".format(tank.wn8)}</td>
            </tr>
            }
        </table>
    </td></tr>
</table>

}

<br/>
@if(tanker.get.lastWeekSession.battles > 0) {
<table cellpadding="0" cellspacing="0" align="center" class="user_session_tanks">
    <thead>
    <th onclick="hideUnhide('tanks2')" style="line-height: 25px" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tanker.get.lastWeekSession.wn8)">
        <b>Session tanks - week | WN8: @{"%.0f".format(tanker.get.lastWeekSession.wn8)}</b>
    </th>
    </thead>
    <tr><td>
        <table cellpadding="0" cellspacing="0" align="center" id="tanks2" class="user_tanks" style="display: none">
            <thead>
            <th></th>
            <th align="left" style="width: 200px">Tank&nbsp;</th>
            <th>Tier</th>
            <th>Ø Frags</th>
            <th>Ø Spot</th>
            <th>Ø Dmg</th>
            <th>Ø Exp</th>
            <th>% Wins</th>
            <th>Battles</th>
            <th>Wn8</th>
            </thead>
            @for(tank <- tanker.get.lastWeekSession.tanks) {
            <tr>
                <td align="center"><img src="@tank.imgPath"/></td>
                <td align="left">@tank.name&nbsp;</td>
                <td align="center">@tank.tier</td>
                <td align="center">@{"%.2f".format(tank.avgFrags)}</td>
                <td align="center">@{"%.2f".format(tank.avgSpot)}</td>
                <td align="right" title="Expected: @tank.expDmg">@{"%.0f".format(tank.avgDmg)}</td>
                <td align="right">@{"%.0f".format(tank.avgXp)}</td>
                <td align="center">@{"%.0f".format(tank.avgWins)}%</td>
                <td align="center">@tank.battles</td>
                <td align="middle" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tank.wn8)">@{"%.0f".format(tank.wn8)}</td>
            </tr>
            }
        </table>
    </td></tr>
</table>
}

<br/>
@if(tanker.get.lastMonthSession.battles > 0) {
<table cellpadding="0" cellspacing="0" align="center" class="user_session_tanks">
    <thead>
    <th onclick="hideUnhide('tanks3')" style="line-height: 25px" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tanker.get.lastMonthSession.wn8)">
        <b>Session tanks - month | WN8: @{"%.0f".format(tanker.get.lastMonthSession.wn8)}</b>
    </th>
    </thead>
    <tr><td>
        <table cellpadding="0" cellspacing="0" align="center" id="tanks3" class="user_tanks" style="display: none">
            <thead>
            <th></th>
            <th align="left" style="width: 200px">Tank&nbsp;</th>
            <th>Tier</th>
            <th>Ø Frags</th>
            <th>Ø Spot</th>
            <th>Ø Dmg</th>
            <th>Ø Exp</th>
            <th>% Wins</th>
            <th>Battles</th>
            <th>Wn8</th>
            </thead>
            @for(tank <- tanker.get.lastMonthSession.tanks) {
            <tr>
                <td align="center"><img src="@tank.imgPath"/></td>
                <td align="left">@tank.name&nbsp;</td>
                <td align="center">@tank.tier</td>
                <td align="center">@{"%.2f".format(tank.avgFrags)}</td>
                <td align="center">@{"%.2f".format(tank.avgSpot)}</td>
                <td align="right" title="Expected: @tank.expDmg">@{"%.0f".format(tank.avgDmg)}</td>
                <td align="right">@{"%.0f".format(tank.avgXp)}</td>
                <td align="center">@{"%.0f".format(tank.avgWins)}%</td>
                <td align="center">@tank.battles</td>
                <td align="middle" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tank.wn8)">@{"%.0f".format(tank.wn8)}</td>
            </tr>
            }
        </table>
    </td></tr>
</table>
}

<br/>
<table cellpadding="0" cellspacing="0" align="center" class="user_session_tanks">
    <thead>
    <th onclick="hideUnhide('tanks4')" style="line-height: 25px; border-bottom: 0px" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tanker.get.wn8)">
        <b>All time tanks | WN8: @{"%.0f".format(tanker.get.wn8)}</b>
    </th>
    </thead>
    <tr><td>
        <table cellpadding="0" cellspacing="0" align="center" id="tanks4" class="user_tanks" style="display: none">
            <thead>
            <th></th>
            <th align="left" style="width: 200px">Tank&nbsp;</th>
            <th>Tier</th>
            <th>Ø Frags</th>
            <th>Ø Spot</th>
            <th>Ø Dmg</th>
            <th>Ø Exp</th>
            <th>% Wins</th>
            <th>Battles</th>
            <th>Wn8</th>
            </thead>
            @for(tank <- tanker.get.tanks) {
            <tr>
                <td align="center"><img src="@tank.imgPath"/></td>
                <td align="left">@tank.name&nbsp;</td>
                <td align="center">@tank.tier</td>
                <td align="center">@{"%.2f".format(tank.avgFrags)}</td>
                <td align="center">@{"%.2f".format(tank.avgSpot)}</td>
                <td align="right" title="Expected: @tank.expDmg">@{"%.0f".format(tank.avgDmg)}</td>
                <td align="right">@{"%.0f".format(tank.avgXp)}</td>
                <td align="center">@{"%.0f".format(tank.avgWins)}%</td>
                <td align="center">@tank.battles</td>
                <td align="middle" class="bg_@com.domain.presentation.model.ColorHelper.wn8Color(tank.wn8)">@{"%.0f".format(tank.wn8)}</td>
            </tr>
            }
        </table>
    </td></tr>
</table>
} else {
Not found
}
}